<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wgu.cmaxwe3.schooltracker">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.MainActivity" />
        </activity>
        <activity
            android:name=".AddTermActivity"
            android:label="Add Term"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.ViewMentorsActivity" />
        </activity>
        <activity
            android:name=".ViewMentorsActivity"
            android:label="@string/title_activity_view_mentors"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.MainActivity" />
        </activity>
        <activity
            android:name=".AddMentorActivity"
            android:label="@string/title_activity_add_mentor"
            android:parentActivityName=".ViewMentorsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.ViewMentorsActivity" />
        </activity>
        <activity
            android:name=".ViewAssessmentsActivity"
            android:label="@string/title_activity_view_assessments"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.MainActivity" />
        </activity>
        <activity
            android:name=".ViewCoursesActivity"
            android:label="@string/title_activity_view_courses"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.MainActivity" />
        </activity>
        <activity
            android:name=".ViewTermsActivity"
            android:label="@string/title_activity_view_terms"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.MainActivity" />
        </activity>
        <activity
            android:name=".AddAssessmentActivity"
            android:label="@string/title_activity_add_assessment"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.MainActivity" />
        </activity>
        <activity
            android:name=".EditMentorActivity"
            android:label="@string/title_activity_edit_mentor"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.ViewMentorsActivity" />
        </activity>
        <activity
            android:name=".EditAssessmentActivity"
            android:label="@string/title_activity_edit_assessment"
            android:parentActivityName=".ViewAssessmentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.ViewAssessmentsActivity" />
        </activity>
        <activity
            android:name=".AddCourseActivity"
            android:label="@string/title_activity_add_course"
            android:parentActivityName=".ViewCoursesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.ViewCoursesActivity" />
        </activity>
        <activity
            android:name=".EditCourseActivity"
            android:label="@string/title_activity_edit_course"
            android:parentActivityName=".ViewCoursesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.ViewCoursesActivity" />
        </activity>
        <activity
            android:name=".SelectCourseMentorActivity"
            android:label="@string/title_activity_select_course_mentor"
            android:parentActivityName=".AddCourseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.AddCourseActivity" />
        </activity>
        <activity
            android:name=".SelectCourseAssessmentsActivity"
            android:label="@string/title_activity_select_course_assignments"
            android:parentActivityName=".AddCourseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.AddCourseActivity" />
        </activity>
        <activity
            android:name=".SelectTermCoursesActivity"
            android:label="@string/title_activity_select_term_courses"
            android:parentActivityName=".AddTermActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wgu.cmaxwe3.schooltracker.AddTermActivity" />
        </activity>
    </application>

</manifest>